{{ define "main" }}
{{"<!-- begin: layouts/_default/archives.html -->" | safeHTML }}
<div class="home">

    <h1 class="page-heading">{{ .Title }}</h1><hr>
    <p>{{ .Content }}</p>

    {{- if gt (len .Site.Taxonomies.categories) 0 -}}
    <p>
        {{ range .Site.Taxonomies.categories }}
        <a href="#{{ .Page.Title | urlize }}-ref">
            {{- .Page.Title -}}
        </a> &nbsp;
        {{- end -}}
    </p>
    <div>
        {{- range $name, $pages := .Site.Taxonomies.categories -}}
        <h2 id="{{ $name | urlize }}-ref" class="post-list-category">
            <a href="{{- .Page.RelPermalink -}}">
                {{- .Page.Title -}}
            </a>
        </h2>
        <table class="post-list">
            {{- range $pages -}}
                <tr>
                    <td class="post-list-date">
                        <span>
                            {{ .Date.Format "Jan 02, 2006" }}
                        </span>
                    </td>
                    <td class="post-list-title">
                        <a href="{{- .RelPermalink -}}">
                            {{ .Title }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="post-list-tags">
                        &nbsp;
                    </td>
                    <td class="post-list-subtitle">
                        {{ .Params.subtitle }}
                    </td>
                </tr>
                <tr class="break">
                </tr>
            {{ end }}
        </table>
        {{ end }}
    </div>
    {{ end }}
</div>
{{"<!-- end: layouts/_default/archives.html -->" | safeHTML }}
{{ end }}