{{ define "main" }}
{{"<!-- begin: layouts/_default/single.html -->" | safeHTML }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <p class="post-subtitle" itemprop="abstract description">{{ .Params.subtitle }}</p>
        <p class="post-meta">
            <time datetime="{{ .Date }}" itemprop="datePublished">Published {{ .PublishDate.Format "Jan 02, 2006" }}</time>
            {{ if ne .PublishDate .Lastmod }}
            {{ " • " }}<time datetime="{{ .Date }}" itemprop="datePublished">Updated {{ .Lastmod.Format "Jan 02, 2006" }}</time>
            {{ end }}<br />
            {{/*  {{ " • " }}<span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ .Site.Author.url }}"><span itemprop="name">{{ .Site.Author.name }}</span></a></span>  */}}
            {{ range $index, $category := .Params.categories }}
                {{ if ne $index 0 }}
                    {{ " • " }}
                {{ end }}
                {{ with $.Site.GetPage ( . | urlize ) }}
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        </p>
    </header>
        
        <div class="post-content" itemprop="articleBody">
            {{ .Content }}
        </div>
        
        {{ if ne .Params.comments false }}
            {{ template "_internal/disqus.html" . }}
        {{ end }}
        
    </article>
    {{"<!-- end: layouts/_default/single.html -->" | safeHTML }}
    {{ end }}