/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(153, 108, 108, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  // This is needed so that pre doesn't overflow past flex.
  min-width: 0;
}


/**
 * Basic styling
 */
html {
  scroll-behavior: smooth;
  // Define font sizes here for `rem` to work
  font-size: $base-font-size;

  @include media-query($on-laptop) {
    font-size: 0.95em;
  }
}

body {
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-white;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02em;
  overflow: overlay;
}

table {
  margin: 0 0 20px 0;
  text-align: left;
}

// Set `margin-bottom` to maintain vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// subscripts and superscripts should not affect line height
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Figures
 */
figure>img,
video {
  display: block;
  max-width: 100%;
  margin: auto;
}

figure>figcaption {
  font-size: $small-font-size;
  font-style: italic;
  text-align: center;
  padding-top: 10px;
  // Anchor for citations in figcaptions
  position: relative;
}



/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold-font-weight;
  font-family: $bold-font-family;

  code {
    font-size: inherit;
  }
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 10%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }

  pre,
  code {
    color: $text-color;
  }
}


/**
 * Rules
 */
hr {
  height: 1px;
  margin: $spacing-unit / 2 0;
  border: 0;
  background-color: $grey-color;
}


/**
 * Toggles
 */
details {
  padding: 0.5em;
  margin-bottom: $spacing-unit / 2;
  background-color: $grey-color-light;
  border-radius: 4px;

  summary {
    cursor: pointer;
  }

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code Formatting
 */
.highlight,
pre,
code {
  background-color: $grey-color-light;
  font-family: $mono-font-family;
  font-size: $base-font-size * 0.75;

  @include media-query($on-laptop) {
    font-size: 0.8rem;
  }
}

div.highlight {
  overflow: auto;

  // border: 1px solid $grey-color-light;
  pre {
    border: none;
    overflow: visible;
  }
}

pre {
  padding: 8px 12px;
  overflow: auto;

  >code {
    padding: 0;
  }
}

table.lntable {
  td:first-child {
    border-right: 1px solid $grey-color;
  }
}

code {
  padding: 1px 5px;
}


/**
  * KaTeX Customizations
  */
.katex-display {
  overflow-x: auto;
  margin: 0.5em 0;

  .base {
    margin: 0.5em 0;
  }

  .katex {
    white-space: normal;
    overflow-x: visible;
  }
}